[Unit]
Description=Setup TMUX
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash -c "tmux new-session -d -s test"
RemainAfterExit=true
# ExecStop=/opt/foo/teardown-foo.sh
StandardOutput=journal
User=iCode

[Install]
WantedBy=multi-user.target
